@font-face {
    font-family: 'dinpro';
    src: url('../../font/dinpro.ttf') format('truetype');
}
.info{
    width: 100%;
    height: 100%;
    font-family: 'dinpro';
}
.header-info{
    width: 100%;
    height: 7.9rem;
    background-image: url(../../img/acucar_raizen.png);
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 90px rgba(0,0,0,0.9); 
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
.bandeirinha{
    width: 150px;
    position: fixed;
    right: 5px;
    top: 5px;
}


.subtitle-info{
    width:100%;
    height: 4rem;
    background-color: white;
    font-size: 0.8rem;
    color: #781e77;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-info{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faz-info, .local-info, .certfic-info, .curios-info{
    width: 100%;
    height: 8.6rem;
    color: white;
    border: none;
}
.faz-info{
    background-color: #781E77;  
}
.local-info{
    background-color: #EA368E;
}
.certfic-info{
    background-color: #1FC0DA;
}
.curios-info{
    background-color: #F47920;
}

.main-info{
    background-color: #781E77;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.main-info h2, .main-info-localidade h2, .main-info-curiosidades h2{
    padding: 1rem;
    text-align: center;
}

.main-info p, .main-info-localidade p, .main-info-curiosidades p{
    padding: 0 1.5rem 0.8rem 1.5rem ;
}

.main-info-localidade{
    background-color: #EA368E;
    width: 100%;
    height: 74vh;
    color: #fff;
}

.main-info-certificacoes{
    background-color: #1FC0DA;
    width: 100%;
    height: 74vh;
}

.main-info-certificacoes h2{
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.certificacoes-img{
    display: flex;
    flex-direction: row;
}

.certific-1 img , .certific-2 img{
    width: 85%;
}

.certific-1, .certific-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-info-curiosidades{
    background-color: #F47920;
    width: 100%;
    height: 74vh;
    color: #fff;
}

.btn-retornar{
    display: flex;
}

.btn-voltar{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color:#fff ;
    position: fixed;
    right: 5px;
    top: 100px;
}