.wrapper-home {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-img {    
    height: 100px;
    width: 500px;
    background: rgb(133, 184, 133);
}

.home-form {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bigclients-infos {
    border: 3px solid orange;
    height: 100px;
    width: 500px;

}
