@import url('./pages/home/home.css');

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
}

:root {    
  --branco: aliceblue;
  --roxo: #781E77;
  --azul: #1fc0da;
  --rosa: #ea368e;
  --laranja: #f47920;
}

.main-header {    
    background-color: var(--roxo);    
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    display: flex;
    justify-content: right;
    align-items: end;
}

.links-home {
    text-decoration: none;
    color: var(--branco);
}