@import url('./pages/home/home.css');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
}

:root {    
  --branco: aliceblue;
  --roxo: purple;
  --violeta: #9B59B6;
  --lilas: #A87CFE;
  --black: #000000;
}

.main-header {    
    background-color: var(--roxo);    
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    display: flex;
    justify-content: right;
    align-items: end;
}

.links-home {
    text-decoration: none;
    color: var(--branco);
}