@import url('./pages/home/home.css');
@import url('./pages/login/login.css');
@font-face {
  font-family: 'dinpro';
  src: url('../../font/dinpro.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;    
    border: 0;
    box-sizing: border-box;   
    font-family: 'dinpro'; 
}

:root {    
  --branco: #FFFFFF;
  --roxo: #781E77;
  --azul: #1fc0da;
  --rosa: #ea368e;
  --laranja: #f47920;
  --cinza: #4A4A4A;
  --cinza-claro: #D9D9D9;
}

body,
html {  
  background-color: var(--branco);  
}

.main {
  width: 100%;
  height: 100%;
  position: absolute; 
  margin: 0 0 0 0;  
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 


.header-frase h1{
text-align: center;
font-family: 'dinpro';
src: url('../../font/dinpro.ttf') format('truetype');
font-size: 1.5rem;
color: var(--roxo);
margin: 6rem 0;
}
.tabela{
  text-align: center;
}
.select-unidade, .select-fazenda, .select-certificacoes{
  font-family: 'dinpro';
  src: url('../../font/dinpro.ttf') format('truetype');
  text-align: center;
  font-size: 1.5rem;
  width: 20%;
  border: 0.2px solid rgb(206, 204, 204);
  margin: 0 1rem;
  background-color: #F9F9F9;
  padding: 0.5rem 0;
}

.resultado-inter{
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.resultado-inter{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.tabela-inter{
  width: 80%;
}

.tabela-inter tr th{
  padding: 1rem;
}

#clientsInfosContainer tr td{
  padding: 1.8rem 5.7rem ;
}
